

<link rel="stylesheet" href="~/MemberPanel/assets/sass/favori.css">
<link rel="stylesheet" href="~/MemberPanel/assets/css/favori.css">


<main>
    <section id="background-potatoes">
        <div class="background-potatoes">
            <div class="img">
                <img src="~/MemberPanel/assets/img/potatoes-background.jpeg" style="width: 100%;height: 100%;" alt="">

            </div>
            <div class="name">
                <p>Favourites</p>
                <span> <a asp-controller="Home" asp-action="HomePage"> <strong>Home</strong> </a> -->Favori Page </span>
            </div>



        </div>
    </section>

    <section id="favories">
        <div class="favories">
            <div class="container">
                <div class="row">


                    <div class="col-lg-12 col-sm-12">

                        <div class="sale-off">
                            <p>Favoruites Products</p>
                        </div>

                        <div class="sort-by-product-count">
                            <div class="sortby">
                                <span>Sort By</span>
                                <button id="default">Default <i class="fas fa-angle-down" id="icon"></i></button>
                                <div class="sort-content">
                                    <a href="#">Default</a>
                                    <a href="#">Name</a>
                                    <a href="#">Price</a>

                                </div>
                            </div>

                            <div class="product-count">
                                <strong>0</strong> <span>Products found</span>
                            </div>
                        </div>

                        <div class="products">
                            <div class="row">
                                <!-- <div class="col-lg-3 col-sm-12">
                                    <div class="picture">
                                        <img src="./assets/img/banana.jpeg"  alt="banana">
                                        <div class="icons">

                                            <div class="basket-icon">
                                                <a href=""> <i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                            <div class="detail-icon">
                                                <a href=""> <i class="fas fa-info"></i></a>
                                            </div>
                                        </div>
                                        <div class="name">
                                            <a href="#">Banana</a>
                                        </div>
                                        <div class="price">
                                            $30.00
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-3 col-sm-12">
                                    <div class="picture">
                                        <img src="./assets/img/chicken.jpeg" alt="chicken">
                                        <div class="icons">
                                            <div class="heart-icon">
                                                <a href=""><i class="fas fa-heart"></i></a>
                                            </div>
                                            <div class="basket-icon">
                                                <a href=""> <i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                            <div class="detail-icon">
                                                <a href=""> <i class="fas fa-info"></i></a>
                                            </div>
                                        </div>
                                        <div class="name">
                                            <a href="#">Chicken</a>
                                        </div>
                                        <div class="price">
                                            $30.00
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="picture">
                                        <img src="./assets/img/potatoe.jpg" alt="potatoes">
                                        <div class="icons">
                                            <div class="heart-icon">
                                                <a href=""><i class="fas fa-heart"></i></a>
                                            </div>
                                            <div class="basket-icon">
                                                <a href=""> <i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                            <div class="detail-icon">
                                                <a href=""> <i class="fas fa-info"></i></a>
                                            </div>
                                        </div>
                                        <div class="name">
                                            <a href="#">Tomatoe</a>
                                        </div>
                                        <div class="price">
                                            $30.00
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="picture">
                                        <img src="./assets/img/chicken.jpeg" alt="chicken">
                                        <div class="icons">
                                            <div class="heart-icon">
                                                <a href=""><i class="fas fa-heart"></i></a>
                                            </div>
                                            <div class="basket-icon">
                                                <a href=""> <i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                            <div class="detail-icon">
                                                <a href=""> <i class="fas fa-info"></i></a>
                                            </div>
                                        </div>
                                        <div class="name">
                                            <a href="#">Chicken</a>
                                        </div>
                                        <div class="price">
                                            $30.00
                                        </div>
                                    </div>
                                </div> -->


                            </div>
                        </div>

                        <div class="pagination">
                            <div class="one active">
                                1
                            </div>
                            <div class="two">
                                2
                            </div>
                            <div class="three">
                                3
                            </div>
                            <div class="count">
                                >
                            </div>
                        </div>

                        <div class="fav-all-remove" style="display:flex;justify-content:flex-end">

                            <button class="btn btn-danger" id="remove-all">
                                All Remove
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts {
    <script asp-append-version="true" src="~/MemberPanel/assets/js/favori.js"></script>

}