@model (Blog blog, List<Owner> owners)

<div class="row">
    <div class="container">
        <div class="title" style="text-align: center;font-weight: bold;letter-spacing:2px;font-size:20px;color: rgba(0,0,0,0.2);">
            Create
        </div>
        <div class="tb">
            <div class="container mt-2">
                <form method="post" asp-action="Create" asp-controller="Blog" asp-area="AdminPanel" enctype="multipart/form-data">
                    <div class="table-responsive pt-3">
                        <label asp-for="blog.OwnerId" style="padding-left:70px;">Owner Fullname <sup>*</sup></label><br>
                        <select asp-for="blog.OwnerId" asp-items="@(new SelectList(Model.owners,"Id","Fullname"))" style="width:90%;border: none;margin-left: 70px;min-height:40px;background-color:black;color: white;padding-left: 20px;"></select><br><br>

                        <label asp-for="blog.Title" style="padding-left:70px;">Title <sup>*</sup></label><br>
                        <input asp-for="blog.Title" type="text" style="width:90%;border: none;margin-left: 70px;height:40px;background-color:white;color: black;padding-left: 20px;"><br><br>
                        <span asp-validation-for="blog.Title" class="text-danger"></span>

                        <label asp-for="blog.Photo" style="padding-left:70px;">Image <sup>*</sup></label><br>
                        <input asp-for="blog.Photo" style="width:25%;border: none;margin-left: 70px;height:40px;background-color:white;color: black;padding-left: 10px;padding-top: 5px;">
                        <span asp-validation-for="blog.Image" class="text-danger"></span>
                    </div>
                    <div class="create" style="display:flex;justify-content:flex-end;padding-right: 35px;">
                        <button class="btn btn-success">Create</button>
                        <a asp-action="BlogList" asp-area="AdminPanel" asp-controller="Blog" class="btn btn-light">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>